.loginVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

.loginBlock{
    

}

.loginForm {
    height: fit-content;
}
