.nav{
    min-width: fit-content;
    background-color: var(--pr-bg-color);
}
.nav-list{
    list-style-type: none;  
}
.nav-list a  {
    padding-left: 0;
    color: white;
}

.nav-list a:hover  {
    padding-left: 0;
    color: pink ;
}
.nav-block{
    background-color: var(--pr-bg-color);
}